{% include "imports.jinja2" %}

{% for integration in integrations -%}
    {%- include "stub.jinja2" -%}
{%- endfor %}

{% with i = integrations | first %}

@installed_flow(reverse_id='{{reverse_id}}')
def {{reverse_id}}(
    version: Literal['{{i.version}}'],
    branch: Literal['{{i.branch}}'],
    *,
    run_deployment_id: str | None = None,
    run_task_policy: Literal['only_use', 'use_or_new', 'no_use'] = 'use_or_new',
    get_task: bool = False,
    wait_for_results: bool = True,
    **kwargs,
):
   pass

{% endwith %}