from typing import Literal, overload

from malevich.models.nodes.operation import OperationNode
from malevich.models.results import SpaceCollectionResult
from malevich.models.task.interpreted.space import SpaceTask
from malevich._meta.decor import integration
from malevich._meta.collection import collection

