@overload
def {{reverse_id}}(
    version: Literal['{{integration.version}}'],
    branch: Literal['{{integration.branch}}'],
    *,
    {%- with injectables=integration.injectables -%}
        {% include "args.jinja2" %}
    {%- endwith %}
):
    pass
